*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background: url(./images/bg.jpeg) no-repeat;
    background-size: cover;
}

.mainContainer{
    width: 100vw;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;



    
}
.mainContainer img:hover{
    cursor: pointer;

}

.container{
     display: flex;
     width: 56%;
    height: 51px;
    margin-right: 73px;
    justify-content: center;
    align-items: center; 


}
img:hover{
    color: white;
    background-color: rgb(255, 255, 255);
}



.icon{
    width: 50px;
    margin: 0px 10px;
}


#image2,#image3,#image6,#image8,#image9{
    height: 49px;
}
#image5{
    height: 51px;
    width: 60px;
}
#image6{
    height: 57px;
}

.sidetask{
    position: absolute;
    right: 0;
    bottom: 0;

}

.sidetaskImg{
    width:220px ;

}

/*  */
.popup{
    width: 89vw;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: all linear .08s;
    top: 1100px;
  
    

}
.popup img{
    width: 34%;
   
}

.popup.active{
    transition: all linear .08s;
    top: 152px;
   

}

.popupSecond{
    width: 94vw;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: all linear .08s;
    top: 1100px;
}
.popupSecond img{
    width:39% ;
}

.popupSecond.active{
    transition: all linear .08s;
    top: 150px;
}

/*  */
.popupThird{
    width: 100vw;
    display: flex;
    position: relative;
    transition: all linear .08s;
    top: 1100px;

}

.popupThird{
    width: 100%;
}
.popupThird.active{
    transition: all linear .08s;
    top: 13px;

}



.icon{
    padding: 10px;
}

.icon:hover{
    box-shadow: inset 0px 0px 0px 10px rgb(255, 255, 255);
    border-radius: 1px;

}

.hidden{
    display: none;
    opacity: 0;
}




.vlc-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 93.1vh;  
    background: black;
    border: none;
    z-index: 1000;  
    transition: opacity 0.5s ease, visibility 0s 0.5s;  
    visibility: hidden;  
}


/*  */

.vlc-frame.visible {
    opacity: 1;            
    visibility: visible;   
    transition: opacity 0.5s ease, visibility 0s 0s; 
}

/* For Weather */
.hidden{
    display: none;
    opacity: 0;
}
.weather-frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 93.1vh;  
    background: black;
    border: none;
    z-index: 1000;  
    transition: opacity 0.5s ease, visibility 0s 0.5s;  
    visibility: hidden;  


}
.weather-frame.visible{
    opacity: 1;            
    visibility: visible;   
    transition: opacity 0.5s ease, visibility 0s 0s; 

}

/* notes project  */

 .hidden{
    display: none;
    opacity: 0;
}
.note-frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 93.1vh;  
    background: black;
    border: none;
    z-index: 1000;  
    transition: opacity 0.5s ease, visibility 0s 0.5s;  
    visibility: hidden;  


}
.note-frame.visible{
    opacity: 1;            
    visibility: visible;   
    transition: opacity 0.5s ease, visibility 0s 0s; 

}

/*  */
.hidden{
    display: none;
    opacity: 0;
}
.google-frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 93.1vh; 
    background-color: white;
    border: none;
    z-index: 1000;  
    transition: opacity 0.5s ease, visibility 0s 0.5s; 
    visibility: hidden;  


}
.google-frame.visible{
    opacity: 1;            
    visibility: visible;   
    transition: opacity 0.5s ease, visibility 0s 0s; 

}

.whiteboardLink{
    display: none;
}

.input{
    display: none;
} 

.mainFileContainer{
    display: flex;
    
}

.fileContainer img{
    height: 30px;
    margin-left: 2rem;
    margin-top: 2rem;

}
.fileContainer p{
    margin-left: 2rem;
}


.file{
    height: 30px;
    margin-left: 11px;
    margin-top: 10px;
}


.fileName{
    position: absolute;
    z-index: 1;
    color: white;
    margin-left: 10px;
}

.fileNameTwo{
    position: absolute;
    z-index: 1;
    color: white;
    left: 70px;
}
.fileContainer2 img{
    height: 30px;
    margin-top: 2rem;
    margin-left: 4rem;


}
.fileContainer2 p{
    margin-left: 4rem;


}








 

